<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/" class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLink="/home" routerLinkActive="active">
        <a class="nav-link" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLink="/services">
        <a class="nav-link" >Services</a>
      </li>
      <li class="nav-item" routerLink="/add-appointment">
        <a class="nav-link" >Schedule an appointment</a>
      </li>
      <li class="nav-item" routerLink="/register">
        <a class="nav-link" >Register</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<footer class="footer">
  <p>Pavle Neskovic 1998</p>
</footer>
