<header class="background-image text-center d-flex">
  <div class="container my-auto jumbotron">
      <div class="row">
          <div class="col-lg-10 mx-auto">
              <h1 class="text-uppercase">
                  <strong>Welcome to your favorite dentist ordination</strong>
              </h1>
              <h3 class="text-uppercase">
                  <strong>How may we help you?</strong>
              </h3>
              <hr>
          </div>
          <div class="col-lg-8 mx-auto">
              <p class="mb-5">This service is here for you, to provide you the best expirience in finding what you need. Also, you can very easily contact our professional stuff and make an appointment. :)</p>
              <a class="btn btn-primary btn-xl js-scroll-trigger" routerLink="/services">Explore our services</a>
          </div>
      </div>
  </div>
</header>